<div class="wantToWork-area wantToWork-area2 w-padding2">
  <div class="container">
    <div class="row align-items-center justify-content-between">
      <div class="col-xl-8 col-lg-8 col-md-8">
        <div class="wantToWork-caption wantToWork-caption2">
          <h2>Become one of our members now</h2>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-4">
        <a href="<%= contact_path %>" class="btn f-right">contact us now</a>
      </div>
    </div>
  </div>
</div>
