<main>
  <!-- Hero Area Start -->
  <div class="hero-area hero-height2 d-flex align-items-center background-color-default">
    <div class="container">
      <div class="row">
        <div class="col-xl-12">
          <div class="hero-cap text-center pt-100">
            <h2>About us</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Hero Area End -->
  <!-- About Details Start -->
  <div class="about-details-area section-padding2">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="about-tittle">
            <h2>Mục đích và ý nghĩa</h2>
          </div>
        </div>
        <div class="col-lg-7">
          <div class="about-details mb-50">
            <p class="pear1">
              CLB  ISTARTUP  góp phần nâng cao chất lượng học và tự học của sinh viên Khoa Quốc tế, ĐHQGHN
            </p>
            <p class="pear2">Giúp sinh viên củng cố, tổng hợp và nâng cao kiến thức chuyên môn hay sở thích về khởi nghiệp, tiếp cận và biết vận dụng vào cuộc sống. Tạo điều kiện để sinh viên đi sâu tìm hiểu, nghiên cứu những vấn đề cụ thể mà chuyên môn đặt ra, thuộc về lĩnh vực khởi nghiệp.</p>
            <p class="pear1">
              CLB ISTARTUP tạo ra một sân chơi năng động cho sinh viên
            </p>
            <p class="pear2">
              Nơi mà mọi người có thể thoả sức sáng tạo,học hỏi và đưa ra những ý tưởng về khởi nghiệp, mỗi thành viên có thể trau dồi thêm kiến thức thực tiễn cho bản thân về khởi nghiệp thông qua hình thức tổ chức những cuộc thi về khởi nghiệp quy mô nhỏ cho sinh viên toàn khoa,tổ chức các buổi họp hàng tuần của CLB,những buổi tọa đàm với giảng viên về xu hướng khởi nghiệp và các thành viên của CLB sẽ trực tiếp tham gia những dự án mà CLB đảm nhiệm. Tìm kiếm và tham gia những cuộc thi khởi nghiệp để nâng tầm giá trị của CLB và thu hút các nhà đầu tư.
            </p>
            <p class="pear1">
              CLB ISTARUP định hướng và thúc đẩy phong trào sinh viên  khởi nghiệp của Khoa Quốc tế, ĐHQGHN. 	
            </p>
            <p class="pear2">CLB ISTARTUP động viên, khích lệ, thu hút sinh viên tham gia thông qua các hoạt động như: Tổ chức những buổi talk show về khởi nghiệp, tổ chức những cuộc thi quy mô nhỏ để chọn ra những người có năng lực và đam mê khởi nghiệp.</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="about-tittle">
            <h2>Định hướng</h2>
          </div>
        </div>
        <div class="col-lg-7">
          <div class="about-details mb-50">
            <p class="pear2">Trong tương lai, CLB ISTARUP hướng tới mục tiêu trở thành một CLB lớn mạnh, 
              là một sân chơi thú vị cho những sinh viên có đam mê khởi nghiệp, đăng cai tổ 
              chức những cuộc thi có quy mô lớn giúp thu hút các nhà đầu tư lớn và 
              góp phần nâng cao giá trị của sinh viên Khoa Quốc Tế .</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- About Details End -->
  <!--All startups Start -->
  <div class="all-starups-area fix">
    <!-- left Contents -->
    <div class="starups">
      <div class="starups-details">
        <h3>Đối tượng tham gia</h3>
        <!-- Details -->
        <div class="starups-list">
          <ul>
            <li>
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="30px" height="30px">
                <path fill-rule="evenodd"  fill="rgb(4, 219, 236)" d="M15.000,0.000 C23.284,0.000 30.000,6.716 30.000,15.000 C30.000,23.284 23.284,30.000 15.000,30.000 C6.716,30.000 -0.000,23.284 -0.000,15.000 C-0.000,6.716 6.716,0.000 15.000,0.000 Z"/>
                <text kerning="auto" font-family="themify" fill="rgb(255, 255, 255)" font-size="14px" x="9px" y="22.0320000000002px">&#58956;</text>
              </svg>
            </li>
            <li>
              <p>Là sinh viên Khoa Quốc tế - ĐH Quốc Gia Hà Nội hoặc sinh viên các trường khác trực thuộc ĐH Quốc Gia Hà Nội,</p>
            </li>
          </ul>
          <ul>
            <li>
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="30px" height="30px">
                <path fill-rule="evenodd"  fill="rgb(4, 219, 236)" d="M15.000,0.000 C23.284,0.000 30.000,6.716 30.000,15.000 C30.000,23.284 23.284,30.000 15.000,30.000 C6.716,30.000 -0.000,23.284 -0.000,15.000 C-0.000,6.716 6.716,0.000 15.000,0.000 Z"/>
                <text kerning="auto" font-family="themify" fill="rgb(255, 255, 255)" font-size="14px" x="9px" y="22.0320000000002px">&#58956;</text>
              </svg>
            </li>
            <li>
              <p>Có đạo đức, phẩm chất tốt, có lối sống lành mạnh; có ý thức tự giác và tinh thần trách nhiệm cao,</p>
            </li>
          </ul>
          <ul>
            <li>
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="30px" height="30px">
                <path fill-rule="evenodd"  fill="rgb(4, 219, 236)" d="M15.000,0.000 C23.284,0.000 30.000,6.716 30.000,15.000 C30.000,23.284 23.284,30.000 15.000,30.000 C6.716,30.000 -0.000,23.284 -0.000,15.000 C-0.000,6.716 6.716,0.000 15.000,0.000 Z"/>
                <text kerning="auto" font-family="themify" fill="rgb(255, 255, 255)" font-size="14px" x="9px" y="22.0320000000002px">&#58956;</text>
              </svg>
            </li>
            <li>
              <p>Quan tâm, đam mê khởi nghiệp, tự nguyện tham gia Câu lạc bộ,</p>
            </li>
          </ul>
          <ul>
            <li>
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="30px" height="30px">
                <path fill-rule="evenodd"  fill="rgb(4, 219, 236)" d="M15.000,0.000 C23.284,0.000 30.000,6.716 30.000,15.000 C30.000,23.284 23.284,30.000 15.000,30.000 C6.716,30.000 -0.000,23.284 -0.000,15.000 C-0.000,6.716 6.716,0.000 15.000,0.000 Z"/>
                <text kerning="auto" font-family="themify" fill="rgb(255, 255, 255)" font-size="14px" x="9px" y="22.0320000000002px">&#58956;</text>
              </svg>
            </li>
            <li>
              <p>Tham gia và vượt qua kỳ sát hạch tuyển mới thành viên do Câu lạc bộ tổ chức.</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!--Right Contents  -->
    <div class="starups-img"></div>
  </div>
  <!--All startups End -->
  <!-- Want To Work Start -->
  <%= render partial: 'home/want_to_contact' %>
  <!-- Want To Work End -->
</main>
