<footer>
  <!-- Footer Start-->
  <div class="footer-area">
    <div class="container">
      <div class="footer-top footer-padding">
        <div class="row justify-content-between">
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
            <div class="single-footer-caption mb-50">
              <div class="single-footer-caption mb-30">
                <!-- logo -->
                <div class="footer-logo">
                  <a href="index.html">
                    <%= image_tag('logo1.png', alt: '') %>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6">
            <div class="single-footer-caption mb-50">
              <div class="footer-tittle">
                <ul>
                  <li><a href="<%= about_path %>">About Us</a></li>
                  <li>
                    <!-- footer social -->
                    <div class="footer-social">
                      <a href="https://www.facebook.com/clbIstartup/">
                        <i class="fa fa-facebook-f center-icon-fa"></i>
                      </a>
                      <a href="https://isstartup.club/">
                        <i class="fa fa-globe center-icon-fa"></i>
                      </a>
                      <!-- <a href="#"><i class="fa fa-twitter"></i></a>
                      <a href="#"><i class="fa fa-instagram"></i></a> -->
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
            <div class="single-footer-caption mb-50">
              <div class="footer-tittle">
                <ul>
                  <li><a href="<%= contact_path %>">Contact Us</a></li>
                  <li><a href="#">istartupclub@isvnu.vn</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
            <div class="single-footer-caption mb-50">
              <div class="footer-tittle">
                <p>Khoa Quốc Tế - ĐH Quốc Gia Hà Nội, 
                  144 Xuân Thủy, Mai Dịch, Cầu Giấy, Hà Nội</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-bottom">
        <div class="row">
          <div class="col-xl-12 ">
            <div class="footer-copy-right">
              <p>Copyright &copy;2020 All rights reserved by Is Startup</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Footer End-->
</footer>
<!-- Scroll Up -->
<div id="back-top" >
  <a title="Go to Top" href="#"> <i class="fa fa-level-up" aria-hidden="true"></i></a>
</div>
